"""Graphical User Interface (GUI) of {{ project_name }}."""

from {{ import_package_name }}.utils import gui_run

# For development run via `uv run watch_gui.py`
gui_run(native=False, show=True, watch=True)
