"""Tests to verify the CLI functionality of {{ project_name }}."""

import pytest
from typer.testing import CliRunner

from {{ import_package_name }}.cli import cli
from {{ import_package_name }}.utils import (
    __version__,
)

BUILT_WITH_LOVE = "built with love in Berlin"


@pytest.fixture
def runner() -> CliRunner:
    """Provide a CLI test runner fixture."""
    return CliRunner()


def test_cli_built_with_love(runner) -> None:
    """Check epilog shown."""
    result = runner.invoke(cli, ["--help"])
    assert result.exit_code == 0
    assert BUILT_WITH_LOVE in result.output
    assert __version__ in result.output
