"""Example script demonstrating the usage of the service provided by {{ project_name }}."""

from dotenv import load_dotenv
from rich.console import Console

from {{ import_package_name }}.hello import Service

console = Console()

load_dotenv()

service = Service()

message = service.get_hello_world()
console.print(f"[blue]{message}[/blue]")
