name: "Scheduled CodeQL"

on:
  schedule:
    - cron: "22 3 * * 2"  # Every Tuesday at 3:22 AM

jobs:
  codeql:
    permissions:
      actions: read
      contents: read
      packages: read
      security-events: write
    uses: ./.github/workflows/_codeql.yml
